name: Telegram Quinté Bot

on:
  schedule:
    - cron: "*/1 * * * *"   # toutes les minutes (heure UTC GitHub)
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Installer les dépendances
        run: |
          pip install requests beautifulsoup4 pytz

      - name: Lancer le bot
        run: python bot.py
