name: Telegram Quinté Bot

on:
  schedule:
    - cron: '0 7 * * *'   # 9h en France (heure d’été)
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Installation de Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Installation des dépendances
        run: pip install requests

      - name: Lancement du bot
        run: python bot.py
