name: Telegram Live Quinté Bot

on:
  schedule:
    - cron: '*/1 * * * *'  # vérifie toutes les minutes
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Installer dépendances
        run: |
          pip install requests
          pip install beautifulsoup4

      - name: Lancer bot live
        run: python bot_live.py
