name: Bot Live QuinteIA

on:
  schedule:
    - cron: "*/1 * * * *"  # toutes les minutes
  workflow_dispatch:  # permet de lancer manuellement

jobs:
  live:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install python-telegram-bot --upgrade
          pip install requests beautifulsoup4

      - name: Run bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        run: |
          python bot_live.py
